@import url('reset.css');

body {
  background: #111 url('/images/bg.gif');
  font: 62.5% Arial, sans-serif;
  color: #eee;
}

h1 {
  margin: 10px 15px;
  font-size: 4em;
  font-weight: bold;
  text-align: right;
}

div.header {
  overflow: hidden; zoom: 1;
  padding: 10px 15px;
  background-color: #000;
}
  div.header h1 {
    float: left;
    margin: 0;
    font-size: 2em;
    text-align: left;
  }
  div.header p.details {
    float: right;
    text-align: right;
    font-size: 1.2em;
    color: #999;
  }
    div.header p.details span:after {
      content: " | ";
      margin: 0 0.5em;
      color: #333;
    }
    div.header p.details span:last-child:after {
      content: "";
      margin: 0;
    }

ul.galleries {
  margin: 10px 0;
  font-size: 1.4em;
  font-weight: bold;
  border-top: 1px solid #222;
}
  ul.galleries a {
    display: block;
    overflow: hidden; zoom: 1;
    padding: 0 15px;
    background-color: #111;
    border: 1px solid #222;
    border-width: 0 0 1px;
    line-height: 2.4em;
    color: #eee;
    text-decoration: none;
  }
    ul.galleries a:hover {
      color: #fff;
      background-color: #000;
      border-color: #444;
    }
    ul.galleries a:first-child:hover {
      border-top-width: 1px;
      margin-top: -1px;
    }
    ul.galleries a span.title { float: left; }
    ul.galleries a em {
      float: right;
      font-size: 0.8em;
      font-weight: normal;
      color: #999;
    }
      ul.galleries a em span:after {
        content: " | ";
        margin: 0 0.5em;
        color: #333;
      }
      ul.galleries a em span:last-child:after {
        content: "";
        margin: 0;
      }

ul.gallery {
  overflow: hidden; zoom: 1;
  padding: 15px 10px 10px 15px;
}

  ul.gallery li {
    float: left;
    margin: 0 5px 5px 0;
  }
  ul.gallery a {
    display: block;
    padding: 4px;
    background-color: #111;
    border: 1px solid #222;
  }
    ul.gallery a:hover {
      background-color: #000;
      border-color: #444;
    }
  ul.gallery img {
    display: block;
  }


#lightbox_backdrop {
  position: absolute;
  top: 0; left: 0;
  background: #000;
}

#lightbox {
  position: absolute;
  top: 0; left: 0;
  padding: 5px;
  background: #eee;
}
